body {
    min-height: 100vh;
    background-color: rgb(242, 216, 69)!important;
}

.container-fluid {
    display: flex;
    justify-content: center!important;
    align-items: center;
}


.card_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question_footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    margin-top: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.start {
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    background-color: white;
}

.start_button {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
}

.fill_color:hover{
    cursor: pointer;
    background-color: #FFFFBF;
}


.bg-success .bg-danger {
    color: white;
}

.width_100 {
    width: 100%;
}

.text_center {
    text-align: center;
}


.end_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#endScreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ==================== Breakpoints ================= */

@media (min-width: 400px) {
    body {
        width: 100vw;
        height: 100vh;
    }
    .navbar {
        display: none;
    }
}